html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.full-height-no-scroll {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change this if you need different alignment */
    background-color: #f8f9fa; /* Example background color */
    overflow: auto;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: white !important;
}

.autocomplete-results {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}
.autocomplete-results div {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-results div:hover {
    background-color: #e9e9e9;
}

